#menu{
    float: left;
<<<<<<< HEAD
    background-color: grey;
    font-family: Arial;
    width: 600px;
}

#lotto{
    width: 600px;
}

a{
    text-decoration: white;
    color: white;
    background-color: grey;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
=======
}
#content{
    float: right;
}
>>>>>>> 1623f8cdbd64bd3510596a3c6ba80922ee9f3f43
