#menu{
    float: left;
    background-color: grey;
    font-family: Arial;
    width: 600px;
}

#lotto{
    width: 600px;
}

a{
    text-decoration: white;
    color: white;
    background-color: grey;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 10px;
    padding-left: 20px;
}

.line{
    height: 1px;
    background-color: #fff;
    border-top: solid 1px #000;
    opacity: 0.4;
    margin-left: 20px;
    margin-right: 20px;
}

#content{
    float: right;
    background-color: white;
    
    text-align: center;
    
    width: 600px;
}
#content img{
    height: 100px;
    width: 100px;
}
#grafok img{
    height: 400px;
    width: 600px;
}
#tortenetek{
    float:right;
    width: 600px;
    padding-left: 5px;
    padding-right: 15px;
}
