#menu{
    float: left;
    background-color: grey;
    font-family: Arial;
    width: 600px;
    height: 100vh;
}

#lotto{
    width: 600px;
}

a{
    text-decoration: white;
    color: white;
    background-color: grey;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px;
    padding-left: 20px;
}

.line{
    height: 1px;
    background-color: #fff;
    border-top: solid 1px #000;
    opacity: 0.4;
    margin-left: 5px;
    margin-right: 5px;
}

#content{
    float: right;
    background-color: white;    
    text-align: center;    
    width: 600px;
    margin-top: 50px;
}
#content img{
    height: 100px;
    width: 100px;
}
#grafok img{
    height: 400px;
    width: 600px;
}
#tortenetek{
    float:right;
    width: 600px;
    padding-left: 5px;
    padding-right: 10px;
}
.gyakori_img{
    position: relative;
top: 35px;
padding-right: 20px;
}

.kepecske{
    padding: 0px;
}
#gyakoriak{
    font-size: 1cm;
    font-weight: bold;
}